@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card{
    @apply shadow-sm p-4 rounded-lg;
}

.form-input{
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full;
}

.notification-popup{
    @apply py-2 px-4 text-center fixed left-0 w-full z-50;
    bottom: -50px;
    opacity: 0;
    transition: 1s;
}

.notification-popup-active{
    opacity: 1;
    bottom: 0;
}
